# MLflow
mlruns/

# Uploaded files
uploads/


# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Frontend dependencies
frontend/node_modules/

# Next.js build
frontend/.next/

# Logs
*.log